.vertical-menu {
    width: 230px;
    height: 150px;
    overflow-y: auto;
    }
    .vertical-menu a {
        background-color: #cfc9c9;
        color: #000;
        display: block;
        padding: 12px;
        text-decoration: none;
        }
        .vertical-menu a:hover {
            background-color: #c47712;
            }
            .vertical-menu a.active {
                background-color: #203cd9;
                color: #fff;
                }