.vertical-menu {
    /*Static menu.*/
    width: 230px;
/*230px wide.*/
  height: 150px;
/*150px long.*/
  overflow-y: auto;
/*Scrollbar should appear.*/
}
.vertical-menu a {
/*Menu buttons.*/
  background-color: #cfc9c9;
/*White background color.*/
  color: #000;
/*Black color text.*/
  display: block;
/*1 on top of another.*/
  padding: 12px;
/*10 px.*/
  text-decoration: none;
/*None.*/
}
.vertical-menu a:hover {
/*Menu buttons when hovered upon by mouse.*/
  background-color: #c47712;
/*Red background color.*/
}
.vertical-menu a.active {
/*Menu buttons when they are "active" or the user is on that page.*/
  background-color: #203cd9;
/*Blue background color.*/
  color: #fff;
/*White text color.*/
}